/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr. 2, 2020, 9:57:00 p.m.
    Author     : kbase
*/

body{
    background-color: burlywood;
}
h1, h2{
    color: firebrick;
    text-align: center;
}
form{
    border: 2px solid firebrick;
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}