/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb. 5, 2020, 9:02:23 p.m.
    Author     : Haru
*/

#cardCanvas{
    background-color: paleturquoise;
    border: 3px solid black;
}
.formCont{
    width: 320px;
    height: 480px;
    background: paleturquoise;
    border: 3px solid black;
}
#name{
    width: 312px;
    margin-top: 10px;
}
#color{
    width: 312px;
    margin-top: 10px;
}
.env{
    height: 50px;
    width: 50px;
}
#subInv{
    margin-top: 10px;
}